* {margin: 0;padding: 0;border: 0;}
html, body {width: 100%;}
body {background:#fff;font:normal 16px/20px Times New Roman;color:#1e1e1e;}
.container {width:980px;padding-bottom:60px;position:relative;margin:0px auto;text-align:left;}
a:link {color:#1b78aa;text-decoration:underline;}
a:hover {color:#cd2424;text-decoration:none;}
a:visited {color:#764b9b;}
.back {float:right; margin-top:-30px;}
h1.sitename {text-align:center;margin:40px 0;display:block;font:normal 32px/32px Georgia;}
h1 {
font-family: Cambria;
    font-size: 16pt;
    margin: 12pt 0 3pt;
}
h2 {display:block;font:normal 18px/30px Georgia;}
ol li {padding-left:15px;}
.for_li a, .for_li span, .links a {margin-right:20px;}
h3 {
    color: red;
    font-family: Arial;
    font-size: 12pt;
    margin: 12pt 0 6pt;
}
p {font-size:1em;line-height: 1.25em;margin: 0.625em;}
p + p {text-indent: 2.5em;}
.pre {margin:10px 0 20px 0px;}
.pre2 {text-align: justify;}
.back a {background:#1e1e1e;color:#fff;text-decoration:none;padding:10px;}
.back a:hover {background:#cd2424;color:#fff;text-decoration:none;padding:10px;}
.links {margin:15px 0;}
.vice_title {height:30px;}
.translator {font-style:italic;margin:10px 0 5px 0;}
.published {float:right;}
small {
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}


ul, ol {
	padding: 0;
	margin: 1em 0 1em 2.5em;
	list-style-position: outside;
}
ul.links-list, ol.links-list {
	padding: 0;
	margin: 0 0 0 0;
	list-style: none;
	font-size: 80%;
}
ul.links-list li, ol.links-list li {
	margin: 0 0 .5em 0;
}
ul {
	list-style-type: square;
}
ul ul, ul ol, ol ul, ol ol {
	margin: 0 0 0 1.25em;
}

.code {
	margin:0px;
	font-size:11px;
	padding:10px;
	font-family:Consolas, sans-serif;
}

pre {
	padding: 5px 7px;
	overflow: auto;
	font-size: 12px;
}

pre code {
	font: 12px "Monospaced", monospace;
	display: block;
	color: #000;
	background: #fff;
}

h2 {
	margin:20px 0px 5px -1px;
	font-size:24px;
	font-weight:normal;
}

h3 {
	margin: 1.33em 0 0.25em 0;
	color:#747474;
	font-size:18px;
	font-style:normal;
}

p {
	margin: 0 0 .67em 0;
}


img {   
        border:0px;
	margin:5px;
}




th {
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
}
