body {
  background-color: rgb(214,149,107);
  background-attachment: scroll;
  background-image: url("./images/poss-bg.jpg");
  margin: 0.25in 0.5in;
}

#content {
  font-family: sans-serif;
}

h1, h2 {
  color: white;
}

a {
  color: black;
  background-color: none;
}

a:hover {
  background-color: rgb(195,97,58);
}

img {
  border: none;
}

td {
  vertical-align: top;
  text-align: left;
}  

#other-writings {
  font-size: 75%;
  margin-left: 0.25in;
}

dd {
  margin-left: 0;
  font-style: italic;
  padding-bottom: 1em;
}

.acknowledgement {
  font-size: 85%;
  font-style: italic;
}

.site-acknowledgement {
  font-size: 60%;
  font-style: italic;
  text-align: right;
}

.info {
  background-color: rgb(214,149,107);
  border-width: 1px 2px 2px 1px;
  border-color: black;
  border-style: dotted solid solid dotted;
  padding: 0.5em;
  margin: 0.25in 0;
}

.yellow {
  color: yellow;
}
