<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Downloading all of "Producing Open Source Software"</title>
<link rel="stylesheet" type="text/css" href="webstyles.css"/>
</head>

<body>
<div id="content">

<center>
<table>
<tr>
  <td><a href="index.html"
         ><img src="../images/producingoss-cover-small.gif"
               alt="book home page"/></a></td>
  <td style="text-align: center; vertical-align: middle;">
      <h1> &nbsp; &nbsp; &nbsp;
      Downloading all of
      <br/> &nbsp; &nbsp; &nbsp;
      <br/> &nbsp; &nbsp; &nbsp;
      <span class="yellow">Producing Open Source Software</span>
      </h1></td>
</tr>
</table>
</center>

<div class="info">

<p>These download packages offer all of the master XML files, plus PDF
and browseable HTML, for both English and (in-progress) translations.

<center>
<table border="0">
  <tr>
  <td><ul class="softlist">
      <li><p><a href="REPLACEME.tar.gz"
           >REPLACEME.tar.gz</a><br/>
           <span style="font-size: 80%;"
           ><em>(in gzipped TAR format, for Unix/Linux)</em></span></p></li>
      <li><p><a href="REPLACEME.zip"
           >REPLACEME.zip</a><br/>
           <span style="font-size: 80%;"
           ><em>(in ZIP format, for Windows/Mac)</em></span></p></li>
      </ul>
  </td>
  </tr>
</table>
</center>

</div>

</body>
</html>
